* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
}

.nav, .title, .alarm {
    width: 100%;
    padding: 20px 10px;
}

.wrapper {
    width: 100%;
    height: 100%;
    flex-direction: column;
    color: white;
    background-color: black;
}



.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24;
    color: orange;
}

.nav__edit, .nav__add {
    cursor: pointer;
}

.title {
    font-size: 48px;
    font-weight: bold;
    border-bottom: 1px solid white;
}

.alarm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    border-bottom: 1px solid white;
}

.alarm-left .time {
font-size: 48px;
}

.alarm-right {
    display: flex;
    align-items: center;
    background-color: gray;
    width: 60px;
    height: 35px;
    border-radius: 20px
}

.alarm-right .onoff {
    margin-left: 3px;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}